.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-pdf__Page {
  margin-bottom: 20px;
}

.react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}
